.task {
  margin-bottom: 8px;
  min-height: 60px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  user-select: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
