.board {
  box-shadow: rgba(0, 0, 0, 0.25) 0 25 50 -12;
  margin: 4px 0;
  height: 100px;

  .board-name {
    text-overflow: ellipsis;
  }
}

.board-item {
  height: 100px;
}

.delete_button {
  margin-top: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  opacity: 0.9;
}
