.infoBar{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: black;
    align-items: center;
}
a{
    font-size:25px;
    text-decoration: none;
    color: rgb(106, 20, 219);
}
