:root {
  --primary: red;
}

a {
  text-decoration: none !important;
  color: #5160a3 !important;
}

a:hover {
  color: #292b69 !important;
}

.img-thumbnail {
  height: 30px !important;
  border: none !important;
}

.tech-img {
  height: 70px;
}
