*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  .Toastify__toast-container--top-right {
    margin-top: 60px;
    width: 250px;
  }
}

a {
  text-decoration: none;
  color: #5160a3;
}

a:hover {
  color: #292b69;
}

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(164, 164, 164);
  border-radius: 10px;
}

.app-container {
  height: calc(100vh - 146px);
}
